.col-2 {
  padding: 0;
  margin: 0;
}
.col-10 {
  padding: 0;
  margin: 0;
}

.search-field {
  border-radius: 5px;
}
.search-button {
  background-color: #f04400;
  border-radius: 5px;
}

:host ::ng-deep .p-multiselect {
  min-width: 10rem;
  max-width: 10rem;
}

.create-product-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}
