
:host ::ng-deep .p-orderlist-controls {
    display: none;
}
.p-orderlist {
    padding: 0;
    margin: 0;
    width: 100%;
}

.centered-header {
    display: flex;
    align-items: center;
    justify-content: center;
}